<div *ngIf="composeArrayIndex < 2">
  <div
    [ngClass]="{'md:w-[30rem] shadow dark:shadow dark:shadow-primary': formStates.collapseVisible, 'md:w-[20rem] shadow mr-2': !formStates.collapseVisible}"
    *ngIf="!(composeArrayLength > 2 && composeArrayIndex === 1)">
    <div class="flex items-center  px-4 bg-primary rounded-t-md py-3">
      <h3 class="text-base w-full flex items-center justify-between text-base-100 cursor-pointer"
        (click)="toggleCollapse()">
        <span>
          {{ "newMessage" | translate}}
          <span class="ml-1" *ngIf="composePopupObjectData?.to?.length">
            to {{ getFormattedNames() }}
          </span>
        </span>
        <em class="ph-bold" [class.ph-minus]="formStates.collapseVisible"
          [class.ph-square]="!formStates.collapseVisible"></em>
      </h3>
      <em class="ph-bold text-base-100 ph-x cursor-pointer ml-3" (click)="closePopup()"></em>
    </div>
    <form (keydown.enter)="$event.preventDefault()" autocomplete="off"
      class="message-body p-4 bg-white dark:bg-black border border-gray-400 dark:border-primary/60 dark:border dark:shadow-xl dark:shadow-primary/20"
      *ngIf="formStates.collapseVisible" [formGroup]="composeForm">
      <div class="max-h-[60vh] overflow-y-auto">
        <label class="mb-2 text-secondary text-sm dark:text-base-100">{{"toMessage" | translate}}</label>
        <web-messenger-users-search
          [eventType]="'compose'"
          (selectUsers)="selectUser($event)"
          (removeUsers)="removeUser($event)"
          (openUserProfile)="openProfilePopUp($event)"
          (openServiceProfile)="openServiceProfilePopUp($event)"
          (openGroupProfile)="openGroupProfilePopUp($event)"
          (updateToSearchDataValue)="updateToSearchDataValue($event)"
          [selectedUsersData]="composePopupObjectData.to"
          (allUsersDataListUpdated)="allUsersDataUpdatedList($event)"
          [composeArrayIndex]="composeArrayIndex"
        ></web-messenger-users-search>
        <label class="mb-2 text-secondary text-sm dark:text-base-100">{{"patient" | translate}}</label>
        <div tabindex="0"
          class="collapse rounded bg-base-100/[0.3] dark:border dark:border-gray-700 dark:bg-transparent mb-2"
          >
          <div class=" flex gap-1 items-center m-2">
            <ng-container *ngIf="composeData.selectedPatients.length">
              <span *ngFor="let patient of composeData.selectedPatients; trackBy: trackByPatientId"
                class="px-2 py-1 whitespace-nowrap rounded text-xs bg-blue-100 text-secondary flex items-center">
                <label for="patient-profile-popup" (click)="selectPatientData(patient.id,patient.name)">
                  <em (click)="removePatient(patient)" class="ph ph-x mr-1 cursor-pointer"></em>
                  {{patient?.name}}
                </label>
              </span>
            </ng-container>
            <ng-container *ngIf="selectedPatient">
              <span class="px-2 py-1 whitespace-nowrap rounded text-xs bg-blue-100 text-secondary flex items-center">
                <label for="patient-profile-popup">
                  <em (click)="removePatientNotInDb()" class="ph ph-x mr-1 cursor-pointer"></em>
                  {{ selectedPatient }}
                </label>
              </span>
            </ng-container>
            <input
              class="bg-transparent outline-none focus:ring-0 border-0 dark:text-base-100 text-gray-600 rounded w-full"
              type="text" name="" id="patientSearchInput" [formControlName]="'patient'"
              [placeholder]="composeData.selectedPatients.length > 0 || selectedPatient ? '' : ('patientPlaceholder' | translate)"
              (focus)="formStates.isPatientInputFocused = true; getPatientsList()"
              (blur)="formStates.isPatientInputFocused = false"
              (keyup)="getPatientsList(); updateDataValue('patient',composeForm.controls['patient'].value)" 
              />
          </div>
          <div *ngIf="composeData.selectedPatients.length === 0 && showSelectedPatientDiv"
            [ngClass]="{'collapse-content': !formStates.isPatientInputFocused}" class="h-48 overflow-y-auto p-0 pr-4">
            <div class="p-3 pr-0">
              <!-- patients list data here -->
              <span *ngFor="let patient of composeData.patientsDataList;trackBy: trackByPatientId">
                <div (click)="selectPatient(patient)">
                  <div
                    class="hover:bg-accent/[0.08] px-3 py-2 bg-white dark:bg-gray-900 rounded flex items-center text-gray-600 dark:text-base-100 cursor-pointer mb-1">
                    <div class="w-[calc(100%-3.1rem)] ml-3">
                      <p class="font-medium text-secondary dark:text-base-100">{{patient?.name}}</p>
                      <p class="text-sm">{{patient?.sex}} • {{patient?.dob}}</p>
                      <p class="text-sm">{{"idNumber" | translate}}: {{patient?.pid}}</p>
                    </div>
                  </div>
                </div>
              </span>
              <span *ngIf="selectedPatientName && showPatientTab">
                <div (click)="selectPatientNotInDb()">
                  <div
                    class="hover:bg-accent/[0.08] px-3 py-2 bg-white dark:bg-gray-900 rounded flex items-center text-gray-600 dark:text-base-100 cursor-pointer mb-1">
                    <div class="w-[calc(100%-3.1rem)] ml-3">
                      <p class="font-medium text-secondary dark:text-base-100">"{{selectedPatientName}}"</p>
                      <p class="text-sm">{{"patientNotInDb"|translate}}</p>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <label class="mb-2 text-secondary text-sm dark:text-base-100">{{"subject" | translate}}</label>
        <input
          class="bg-base-100/[0.3] dark:border dark:border-gray-700 dark:bg-transparent border-base-300 dark:text-white text-gray-600 rounded w-full py-2 px-3"
          type="text" name="" id="subject" placeholder="{{'optional' | translate}}" [formControlName]="'subject'"
          (keyup)="updateDataValue('subject',composeForm.controls['subject'].value)" />
        <div class="flex gap-3  bg-gray-50 dark:bg-gray-900 p-4 rounded mt-3"
          *ngIf="composeData?.selectedOffDutyUsers?.length">
          <em class="ph-duotone ph-prohibit text-3xl text-base-300"></em>
          <p class="text-sm">
            <b class="text-gray-600 block dark:text-base-100">{{'composeUnavailableSection'| translate}}</b>
            <span class="cursor-pointer flex items-center text-primary dark:text-accent"
              (click)="getOffDutySection()">{{'composeUnavailableLink'|translate}} <em
                class="ph-bold ph-arrow-right ml-1"></em></span>
          </p>
        </div>
      </div>
      <div autocomplete="off" class="py-3 flex left-0 right-0 z-40 bg-white dark:bg-black">
        <div class="relative w-full flex items-center">
          <label class="relative">
            <input type="file" multiple class="absolute left-0 w-full h-full opacity-0 z-10"
              (change)="uploadFile($event)">
            <em class="ph ph-paperclip-horizontal block rotate-90 text-3xl text-base-300 hover:text-primary mr-2"></em>
          </label>
          <textarea #inputField id="composeMessage" placeholder="{{ 'typeSomething' | translate }}"
            class="border bg-transparent border-base-300 dark:text-white text-gray-600 rounded w-full py-2 px-3 pr-7 max-h-[6em]"
            [formControlName]="'message'"
            value="selectedMsg"
            [ngStyle]="getStyle()"
            (scroll)="adjustOverflowY()"
            [ngClass]="{ 'focused': formStates.isMessageFocused }" (focus)="formStates.isMessageFocused = true"
            (blur)="formStates.isMessageFocused = false" (input)="onInput($event)"
            (keyup.enter)="handleEnterKeyboardEvent($event)"></textarea>
          <p *ngIf="formStates.isUrgent && showUrgentMessage"
            class="bg-neutral text-white rounded absolute p-0.5 text-center w-[89%] -top-4 text-xs left-10">
            {{"urgentModeEnabled" | translate}}</p>
          <em class="ph-fill absolute right-1 ph-warning-circle text-2xl text-base-300 hover:text-neutral collapse"
            [ngClass]="{'text-neutral': formStates.isUrgent}" (click)="toggleUrgentState()"></em>
        </div>
        <span class="chat chat-end -mr-6 ml-3">
          <span *ngIf="!(composeData.selectedUsers?.length && 
            (composeFormControls['message'].value || composeData.uploadedFiles?.length))">
            <web-messenger-quick-messages (dataEvent)="selectedQuickMessage($event)"></web-messenger-quick-messages>
          </span>
          <span *ngIf="composeData.selectedUsers?.length && 
            (composeFormControls['message'].value || composeData.uploadedFiles?.length)">
            <button
              class="cursor-pointer bg-primary text-white hover:btn-secondary dark:btn-accent dark:hover:btn-primary flex items-center p-2 justify-center h-10 rounded-xl"
              (click)="createThread()">{{'Send' | translate}}</button>
          </span>
        </span>
      </div>
      <div class="flex justify-between">
        <div>
          <span *ngFor="let uploaded of composeData.uploadedFiles; let i= index;"
            class="rounded bg-primary/10 dark:bg-primary/30 text-secondary dark:text-base-100 text-xs flex items-center gap-1 block p-0.5">
            <span [ngClass]="{ 'text-red-500': uploaded.isError }">
              <em *ngIf="!uploaded.isError" class="ph text-green-500 ph-check"></em> {{uploaded.file.name}}
              <progress *ngIf="!uploaded.isComplete && !uploaded.isError" class="progress progress-primary w-24 h-1"
                [value]="uploaded.progress" max="100"></progress>
              <em class="ph text-neutral ph-x cursor-pointer" (click)="removeFile(i)"></em>
            </span>
          </span>

        </div>
        <label class="flex items-center justify-end cursor-pointer text-secondary dark:text-accent">
          <input type="checkbox" class="checkbox checkbox-xs mr-1 rounded checkbox-primary"
            [formControlName]="'enterToSend'" (click)="setQuick_send()">
          <span class="text-xs dark:text-base-100">{{"enterToSendMessage" | translate}}</span>
        </label>
      </div>
    </form>
  </div>
</div>

<!-- discard modal -->
<input type="checkbox" id="discard-modal" class="modal-toggle" [checked]="formStates.showDiscardModal" />
<div class="modal bg-black/70">
  <div
    class="modal-box max-w-md bg-white dark:bg-black rounded p-0 relative overflow-y-hidden dark:border-primary/60 dark:border dark:shadow-xl dark:shadow-primary/20">
    <div class="flex justify-between text-white items-center bg-primary p-3">
      <h4 class="font-bold">{{"cancelNewConversation" | translate}}?</h4>
      <label for="discard-modal" class="w-7 h-7">
        <em class="ph-bold ph-x text-base-100  hover:text-accent cursor-pointer"
          (click)="formStates.showDiscardModal=!formStates.showDiscardModal"></em>
      </label>
    </div>
    <div class="p-4 max-h-[65vh] overflow-y-auto">
      <h2 class="text-secondary dark:text-base-100 text-lg font-bold">
        {{"discardNewMessage" | translate}}?
      </h2>
      <div class="flex justify-end mt-3">
        <button class="btn btn-neutral text-white" (click)="confirmDiscard()">{{"discard" | translate}}</button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="showOffDutySection">
  <web-messenger-off-duty-user-picker [showOffDutySection]="showOffDutySection"
    [selectedUsers]="composeData.selectedOffDutyUsers"
    [selectedUserDataWithCStatus]="composeData.selectedUserDataWithCStatus"
    (updatedUsers)="showUpdatedUsersInInput($event)"
    (closeOffDutySection)="closeOffDutySection($event)" 
    (updatedUsersManually)="showManuallyUpdatedUsersInInput($event)"  
    (removeUserEvent)="removeUserFromListById($event)"
    ></web-messenger-off-duty-user-picker>
</ng-container>
<web-messenger-patient-profile-popup *ngIf="showPatientProfilePopup" [patientId]="patientId"
  [patientName]="patientName"></web-messenger-patient-profile-popup>

<web-messenger-user-profile-modal *ngIf="showProfileModal" [showUserProfileModal]="showProfileModal" (sendUserIdToCompose)="addComposeQueryParamsForSendMsg($event)"
  [userId]="selectedUserIdDetails" (showUserProfile)="showUserProfile($event)"  (sendCoverageIdToCompose)="addComposeQueryParamsForCoverageId($event)"
  ></web-messenger-user-profile-modal>

<web-messenger-service-teams-pop-up *ngIf="showServiceModal" [showServiceModal]="showServiceModal"
  [selectedService]="selectedService"  (closeServiceTeamComposeModal)="closeServiceTeamModal($event)"></web-messenger-service-teams-pop-up>

<web-messenger-save-as-messaging-grp *ngIf="showGroupModal" [selectedGroupProfile]="selectedgroup"
  (showSaveAsMsgGrpModal)="openSaveAsMessagingGrpModal($event)"></web-messenger-save-as-messaging-grp>