<!-- child.component.html -->
<input type="checkbox" [checked]="isTitles" class="modal-toggle" />
<div class="modal bg-black/70" >
    <div
        class="modal-box max-w-2xl bg-white dark:bg-black rounded p-0 relative overflow-y-hidden dark:border-primary/60 dark:border dark:shadow-xl dark:shadow-primary/20">
        <div class="flex justify-between text-white items-center bg-primary p-3">
            <h3 class="font-bold dark:text-white">{{"selecttitles" | translate }}</h3>
            <label class="w-7 h-7">
                <em (click)="closemodal()" class="ph-bold ph-x cursor-pointer text-lg hover:text-accent"></em>
            </label>
        </div>
        <div class="p-4 text-gray-600 dark:text-base-100 text-sm">
            <div class="p-4 text-gray-600 dark:text-base-100 text-sm">
                <!-- Conditionally render based on the existence of search term -->
                <div class="max-h-[60vh] overflow-y-auto">
                    <label class="cursor-pointer label justify-start flex gap-2 border-b dark:border-gray-700">
                        <input type="checkbox" class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded"
                            [(ngModel)]="allTitleChecked" (change)="checkAllTitle()" />
                        <span class="mr-4">{{"All" | translate }}</span>
                    </label>
                    <div *ngIf="searchTerm; else showAllTitles">
                        <!-- Render filtered titles here -->
                    <div *ngFor="let title of filteredTitles; let i = index">
                        <ng-container *ngFor="let titleState of titleCheckboxStates; let j = index">
                          <div *ngIf="title === titleState.title">
                            <label class="cursor-pointer label justify-start flex gap-2 border-b dark:border-gray-700">
                              <input type="checkbox"
                                     class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded"
                                     [checked]="titleState.selected" (change)="onCheckboxChangeTitle(j, title)" />
                              <span class="mr-4">{{ titleState.title }}</span>
                            </label>
                          </div>
                        </ng-container>
                      </div>
                      
                    
                    </div>
                </div>
                <ng-template #showAllTitles>
                    <!-- Render all titles when no search term -->
                    <div *ngFor="let title of settingsArrayStates?.filteredTitles; let i = index">
                        <label class="cursor-pointer label justify-start flex gap-2 border-b dark:border-gray-700">
                            <input type="checkbox"
                                class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded"
                                [checked]="titleCheckboxStates[i].selected"
                                (change)="onCheckboxChangeTitle(i, title)" />
                            <span class="mr-4" [innerHTML]="title | sanitizeHtml"></span>
                        </label>
                    </div>
                </ng-template>
                <div class="flex justify-end items-center mt-8 px-2">
                    <button type="button" class="btn btn-primary" (click)="submitTitle()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

<web-messenger-modal *ngIf="isDiscard" [modalId]="'error-modal'" [modalTitle]="'discardChanges' | translate"
    [modalMessage]="isDiscard" (closePopup)="discardPopup()" (cancelPopup)="cancelPopup()"
    [modalCloseText]="'Discard' | translate"></web-messenger-modal>