 <div class="text-base text-gray-600 dark:text-base-100 px-6 h-full overflow-y-auto">
    <h2 class="text-secondary text-xl font-medium dark:text-white mb-4">{{ "EnableNotification" | translate }}</h2>
    <h4 class="font-bold dark:text-white">{{ "AudioAlerts" | translate }}</h4>
      <label class="cursor-pointer label justify-start py-0 gap-x-2 my-3">
        <input type="checkbox" id="MessagesCheckbox" class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded peer checked:hidden" [(ngModel)]="isCheckedMessages" (change)="getCheckboxMessangerValue()" />
        <em class="ph-fill ph-check-fat text-primary dark:text-accent hidden peer-checked:inline-block"></em>
        {{ "AMSConnectMessages" | translate }}    
      </label> 
      <label class="cursor-pointer label justify-start py-0 gap-x-2 my-3">
        <input type="checkbox" id="PagerCheckbox" class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded peer checked:hidden" [(ngModel)]="isCheckedPager" (change)="getCheckPagerValue()" />
        <em class="ph-fill ph-check-fat text-primary dark:text-accent hidden peer-checked:inline-block"></em>
        {{ "PagerMessages" | translate  }}      
      </label> 
      <button class="btn btn-primary mt-4 text-white px-6"  [disabled]="!isMessagesDisabled && !isPagerDisabled" (click)="saveAlert()"> {{ "SaveChanges" | translate }}   </button>
  </div>