@import '../style/_util.scss';

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__icon,
.profile__initials {
    height: 60px;
    width: 60px;
    background: $color-lightblue;
    color: $color-black;
    border-radius: 30px;
    margin-bottom: $gutter;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
