<div>
    <h2 class="font-semibold text-base text-secondary dark:text-white mb-3">{{"Configureusers&ChildOUs" |translate }}
    </h2>
    <div class="">
        <div class="flex text-sm font-medium -mb-[1px] px-1 gap-1">
            <a (click)="changeTab('configureUser')"
                [class]="activeSection.configureUser===active_status ? 'text-primary bg-white dark:text-accent dark:text-secondary':'bg-gray-100 dark:bg-gray-700  cursor-pointer'"
                class="text-gray-600 dark:text-base-100 px-4 py-2 border-gray-100 border border-b-0 rounded-t dark:border-gray-700">{{"users"
                | translate}}</a>
            <a (click)="changeTab('ChildOUs')"
                [class]="activeSection.ChildOUs===active_status ? 'text-primary bg-white dark:text-accent dark:text-secondary':'bg-gray-100 dark:bg-gray-700 cursor-pointer'"
                class="text-gray-600 dark:text-base-100 px-4 py-2 border-gray-100 border border-b-0 rounded-t dark:border-gray-700">{{"childOus"
                | translate}}</a>
            <ng-container *ngIf="getALLCurrentUserPermissionList?.client_ctn_update_config">
                <a (click)="changeTab('patients')"
                [class]="activeSection.patients=== active_status ? 'text-primary bg-white dark:text-accent dark:text-secondary':'bg-gray-100 dark:bg-gray-700 cursor-pointer'"
                class="text-gray-600 dark:text-base-100 px-4 py-2 border-gray-100 border border-b-0 rounded-t dark:border-gray-700">{{"Patients"
                | translate}}</a>
            </ng-container>
            <a *ngIf="getALLCurrentUserPermissionList?.client_manage_third_party_integration" (click)="changeTab('scheduledIntegration')"
                [class]="activeSection.scheduledIntegration===active_status ? 'text-primary bg-white dark:text-accent dark:text-secondary':'bg-gray-100 dark:bg-gray-700 cursor-pointer'"
                class="text-gray-600 dark:text-base-100 px-4 py-2 border-gray-100 border border-b-0 rounded-t dark:border-gray-700">{{"scheduledIntegration"
                | translate}}</a>
            <a *ngIf="getALLCurrentUserPermissionList?.client_manage_third_party_integration && institution?.id === EMAIL_CONFIG_IID" (click)="changeTab('emailSettings')"
               [class]="activeSection.emailSettings===active_status ? 'text-primary bg-white dark:text-accent dark:text-secondary':'bg-gray-100 dark:bg-gray-700 cursor-pointer'"
               class="text-gray-600 dark:text-base-100 px-4 py-2 border-gray-100 border border-b-0 rounded-t dark:border-gray-700">{{"emailSettings"
                | translate}}</a>
        </div>
        <div [ngSwitch]="active_status"
            class="p-4 border  border-gray-100 dark:border-gray-700 rounded w-full min-w-full shadow-sm">
            <div *ngSwitchCase="'configureUser'">
                <form class="mt-6" [formGroup]="uploadForm" (ngSubmit)="onSubmit('users_add')">
                    <label class="block font-medium mb-2">{{"DownloadCSVarchive" | translate}}:</label>
                    <a class="btn btn-outline btn-primary dark:btn-outline dark:btn-accent"
                        (click)="downloadUser('users')"><em class="ph-bold ph-download-simple mr-2"></em>
                        {{"Downloadusers" |translate}}</a>
                    <label class="block font-medium mb-2 mt-4">{{"Add&updateusersviaCSV"| translate}}</label>
                    <div class="grid grid-cols-2 gap-4 my-4">
                        <span>
                            <input type="file" id="userfile" class="hidden" formControlName="userFile"
                                (change)="uploadFile($event)" />
                            <label for="userfile"
                                class="rounded py-3 px-6 bg-base-100 dark:bg-gray-700 cursor-pointer">{{"ChooseFile" |
                                translate}}</label>
                        </span>

                        <span>
                            <input type="file" id="usercsv" class="hidden" formControlName="csvFile"
                                (change)="uploadFile($event)" />
                            <label for="usercsv"
                                class="rounded py-3 px-6 bg-base-100 dark:bg-gray-700 cursor-pointer">{{"ChooseCSV" |
                                translate}}</label>
                        </span>
                        <span>
                            <ng-container *ngIf="showUserFileName">
                                <span>{{userFileName}}</span>
                            </ng-container>
                            <span>{{userFileName}}</span>
                        </span>
                        <span>
                            <ng-container *ngIf="showPreviewCsvFileName">
                                <span>{{userCsvFileName}}</span>
                            </ng-container>
                        </span>
                    </div>
                    <label class="cursor-pointer label justify-start mt-4 pb-1">
                        <input type="checkbox" formControlName="sendEmailToNewUsers"
                            class="checkbox  checkbox-xs checkbox-primary dark:checkbox-accent rounded" />
                        <span class="ml-4">{{"Sendemailtonewusers" | translate}}</span>
                    </label>
                    <label class="cursor-pointer label justify-start pt-0 mb-4">
                        <input type="checkbox" formControlName="makeUsersManaged"
                            class="checkbox checkbox-xs checkbox-primary dark:checkbox-accent rounded" />
                        <span class="ml-4">{{"Makeusersmanaged"| translate}}</span>
                    </label>
                    <div class=" border-base-300 grid grid-cols-2 gap-4 my-4">
                    <button type="submit" [disabled]="isPreviewCsv" class="btn btn-primary text-white">{{"UploadCSV" |
                        translate}}</button>
                    <button type="button" [disabled]="isUploadCsv" (click)="onSubmit('users_add')"
                        class="btn btn-primary text-white">{{'previewCsv' | translate}}</button>
                    </div>
                </form>
            </div>
            <ng-container *ngSwitchCase="'ChildOUs'">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-4">
                    <form class="mt-6" [formGroup]="uploadForm" (ngSubmit)="onSubmit('ou_add')">
                        <label class="block font-medium mb-2">{{"DownloadCSVarchive" | translate}}</label>
                        <a class="btn btn-outline btn-primary dark:btn-outline dark:btn-accent"
                            (click)="downloadUser('ous')"><em class="ph-bold ph-download-simple mr-2"></em>
                            {{"DownloadOus" | translate}}</a>
                        <label class="block font-medium mb-2 mt-4 mb-3">{{"AddUpdateOUs" | translate}}</label>
                        <div class="mb-6">
                            <input type="file" id="childousfile" class="hidden"  (change)="uploadFile($event)" />
                            <label for="childousfile"
                                class="rounded py-3 px-6 bg-base-100 dark:bg-gray-700 cursor-pointer">{{"ChooseFile" |
                                translate}}</label>
                        </div>
                        <span>
                            <ng-container>
                                <span>{{childOUSFileName}}</span>
                            </ng-container>
                        </span>
                        <button class="btn btn-primary text-white my-3">{{"UploadFile" | translate}}</button>
                    </form>
                    <ng-container *ngIf=isChildInstitution>
                        <div>
                            <a *ngFor="let childItem of this.institution?.child_institutions" class="link link-primary my-3 table dark:link-accent" [id]="childItem.id" (click)="navigateToChildInstitute(childItem.id)">{{childItem.id}}</a>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'patients'">
                <form class="mt-6"  [formGroup]="uploadForm" (ngSubmit)="onSubmit('patient')">
                    <div class="mb-6">
                        <input type="file" id="patientfile" class="hidden" formControlName="patientFile" 
                        (change)="uploadFile($event)">
                        <label for="patientfile"
                            class="rounded py-3 px-6 bg-base-100 dark:bg-gray-700 cursor-pointer">{{"ChooseFile" |
                            translate}}</label>
                    </div>
                    <span>
                        <ng-container>
                            <span>{{patientFileName}}</span>
                        </ng-container>
                    </span>
                    <label class="cursor-pointer label justify-start my-3">
                        <input type="checkbox"
                            class="checkbox  checkbox-xs checkbox-primary dark:checkbox-accent rounded" formControlName="replaceExisting" />
                        <span class="ml-4">{{"ReplaceExisting" | translate}}</span>
                    </label>
                    <button type="submit" [disabled]="isPatientUploadPreviewCsv" class="btn btn-primary text-white">{{"UploadPatientCSV" | translate}}</button>
                </form>
            </ng-container>
            <ng-container *ngSwitchCase="'scheduledIntegration'">
                <div class="mt-2 overflow-y-auto text-black dark:text-white">
                  <div class="flex flex-row items-baseline justify-between mb-2.5">
                    <p class="mb-0 font-bold text-lg">{{ (isIntegrationsActive ? "ActiveIntegrations" : "Integrations") | translate }}</p>
                    <div class="flex flex-row gap-2">
                      <button class="btn text-[15px] px-[10px] btn-outline btn-primary ml-auto mr-0 block" (click)="showDisableIntegrationsWarningModal = true" *ngIf="isIntegrationsActive">
                        {{ "disableAllIntegrations" | translate }}
                      </button>
                      <button class="btn text-[15px] px-[10px] btn-outline btn-primary ml-auto mr-0 block" (click)="toggleIntegrations()" *ngIf="!isIntegrationsActive">
                        {{ "enableAllIntegrations" | translate }}
                      </button>
                      <button class="btn text-[15px] px-[10px] btn-primary ml-auto mr-0 block text-white"
                            [disabled]="!isIntegrationsActive"
                            (click)="navigateTo('createIntegration')">
                          {{"NewIntegration" | translate}}
                      </button>
                    </div>
                  </div>
                  <div *ngIf="integrationsViewModels.length === 0" class="flex flex-col justify-center content-center items-center">
                    <p class="font-bold text-l">{{ "NoIntegrations" | translate }}</p>
                    <p>{{ "CreateFirstIntegrationPrompt" | translate }}</p>
                  </div>
                    <table *ngIf="integrationsViewModels.length > 0" class="integration-table table-auto border-0 border-separate border-spacing-0 w-full">
                        <thead>
                            <tr class="dark:bg-[#374151]">
                                <th class="py-1 px-2">{{"Integration" | translate}}</th>
                                <th class="py-1 px-2">{{"LastSync" | translate}}</th>
                                <th class="py-1 px-2">{{"childOus" | translate}}</th>
                                <th class="py-1 px-2">{{"Unmatched" | translate}}</th>
                                <th class="py-1 px-2">{{"Actions" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="integration-body"
                                *ngFor="let integration of integrationsViewModels">
                                <td class="p-2 pb-[5px]">
                                  <div class="flex flex-row gap-2 justify-left items-center h-full">
                                    <img *ngIf="integration.isHealthy; else unhealthy" src="/assets/green-check.svg" title="{{integration.errorText}}" class="w-4 h-4">
                                    <ng-template #unhealthy>
                                      <img title="{{integration.errorText}}" src="/assets/red-x.svg" class="w-4 h-4">
                                    </ng-template>
                                    <div class="min-w-fit h-6" >{{integration.integrationData.vendorType}}</div>
                                  </div>
                                </td>
                                <td class="p-2 pb-[5px]">{{integration.lastSyncTime ? (integration.lastSyncTime | timeAgo) : ("Never" | translate)}}</td>
                                <td class="p-2 pb-[5px]">{{integration.childOrganizations?.join(", ") ?? "-"}}</td>
                                <td class="p-2 pb-[5px]">{{integration.totalUnmatchedEntities}}</td>
                                <td class="p-2 pb-[5px] w-0 min-w-fit max-w-fit">
                                  <div class="flex flex-row gap-4 justify-center">
                                    <button class="link link-primary dark:link-accent text-left font-semibold"
                                        (click)="configureIntegration(integration)">
                                        <img src="assets/Icon-Gear.svg" alt="Configure icon" title="Configure">
                                    </button>
                                    <button class="link link-primary dark:link-accent text-left font-semibold" *ngIf="integration.integrationData.isActive"
                                        (click)="triggerIntegrationScheduleSync(institution.id, integration.integrationData.id)">
                                        <img src="assets/Icon-Refresh.svg" alt="Refresh icon" title="Refresh">
                                    </button>
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'emailSettings'">
                <web-messenger-email-settings />
            </ng-container>
        </div>
    </div>
</div>
<web-messenger-modal *ngIf="showSyncScheduledMessage" [modalId]="'schedule-sync-modal'" 
    [boldText]="false"
    [modalTitle] ="syncError ? 'Failed' : 'Sync Scheduled' | translate" 
    [modalMessage]="syncError ? syncError : 'This integration will be synced as soon as possible.' | translate" 
    (closePopup)="showSyncScheduledMessage = false; syncError = undefined" 
    [modalCloseText]="'ok' | translate"
    [closeIsDestructive]="false"/>
<web-messenger-success-modal *ngIf="showSuccessModal" [showSuccessModal]="showSuccessModal"
[updateValuesInUser]="updateValuesInUser"
[conditionForFileProcessed]="downloadSuccessModal" [jobIdFromQuickMessage]="jobId" [replacedPatient]="replacedPatient" (resetPopupvalue)="resetPopupvalue()"></web-messenger-success-modal>

<!-- <web-messenger-modal *ngIf="showErrorModal" [modalId]="'error-modal'" [modalTitle]="showErrorMessage" 
[modalMessage]="showValidation" [modalCloseText]="'close' | translate" >
</web-messenger-modal> -->

<web-messenger-modal *ngIf="showDisableIntegrationsWarningModal" [modalId]="'disable-integrations-warning-modal'"
    [boldText]="false"
    [modalTitle]="'disableModal.title' | translate"
    [modalMessage]="
    ('disableModal.bodyOverview' | translate) + '<br>' +
    '<ul class=\'list-disc ml-6\'>' +
    '<li>' + ('disableModal.bulletOne' | translate) + '</li>' +
    '<li>' + ('disableModal.bulletTwo' | translate) + '</li>' +
    '<li>' + ('disableModal.bulletThree' | translate) + '</li>' +
    '</ul>'"
    [modalCloseText]="'disableModal.continue' | translate"
    (closePopup)="toggleIntegrations(); showDisableIntegrationsWarningModal = false;"
    [showCancelButton]="true"
    [cancelText]="'cancel' | translate"
    (cancelPopup)="showDisableIntegrationsWarningModal = false"/>

<div class="toast toast-center" [class.closing]="toastIsClosing" (click)="closeToast()" >
    <div #toast class="alert alert-info w-max" *ngIf="showToast">
        <p>{{ "integrationWizard.modals.toastSyncDone" | translate }}</p>
    </div>
</div>