<div class="text-base text-gray-600 dark:text-base-100 px-6 h-full overflow-y-auto">
    <h2 class="text-secondary text-xl font-medium dark:text-white mb-3">{{ "changeYourPassword" | translate }}</h2>
    <h2 class="text-secondary text-lg font-medium dark:text-white mb-3">{{ "security" | translate }}</h2>
    <form  class="lg:w-3/6 md:w-4/6" [formGroup]="passwordForm">

        <div *ngIf="showErrorMessage" class="text-sm border text-neutral border-neutral p-2 mt-2 my-4 rounded flex">
            <em class="ph-fill ph-warning-circle mr-1 mt-1"></em>
            {{showErrorMessage}}
          </div>

        <div for="newpassword" *ngIf="password?.invalid &&  isPasswordInputFocused && (password?.dirty || password.touched)"
        class="shadow p-2 mb-2 bg-blue-50 rounded md:mr-4 w-full">
        <h6 class="text-secondary text-sm mb-1 font-semibold"> {{ "passContain" | translate }} </h6>
          <ul class="text-gray-600 text-xs pl-1 leading-5">
            <li [ngClass]="getPasswordInputValue.hasAtleast8Char ? 'text-secondary': ''"><em
                class="ph-fill ph-check-circle text-green text-0xs mr-1"
                [ngClass]="getPasswordInputValue.hasAtleast8Char ? 'text-green-500': 'text-base-300'"></em>{{
              "atleast8Char" | translate }}</li>
            <li [ngClass]="getPasswordInputValue.hasUpperCase  ? 'text-secondary': ''"><em
                class="ph-fill ph-check-circle text-green text-0xs mr-1"
                [ngClass]="getPasswordInputValue.hasUpperCase   ? 'text-green-500': 'text-base-300' "></em>{{
              "upperCaseLetter" | translate }}</li>
            <li [ngClass]="getPasswordInputValue.hasLowerCase ? 'text-secondary': ''"><em
                class="ph-fill ph-check-circle text-green text-0xs mr-1"
                [ngClass]="getPasswordInputValue.hasLowerCase   ? 'text-green-500': 'text-base-300' "></em>{{
              "lowerCaseLetter" | translate }}</li>
            <li [ngClass]="getPasswordInputValue.hasNumericOrSpecialChar ? 'text-secondary': ''"><em
                class="ph-fill ph-check-circle text-green text-0xs mr-1"
                [ngClass]="getPasswordInputValue.hasNumericOrSpecialChar  ? 'text-green-500': 'text-base-300' "></em>{{
              "specialChar" | translate }}</li>
          </ul>
        </div>
        <div class="mb-4">
            <label class="mb-1 block font-semibold text-secondary text-sm dark:text-base-100">{{ "currentPassword" | translate }}</label>
            <input type="password" formControlName="oldPassword"
                class="border bg-transparent border-base-300 dark:border-gray-700 dark:text-white text-gray-600 rounded w-full py-2 px-3"
                name="cpass" />
        </div>
        <div class="mb-4">
            <label class="mb-1 block font-semibold text-secondary text-sm dark:text-base-100">{{ "newPass" | translate }}</label>
            <input type="password" formControlName="password" (keyup)="passwordCheck()" (focus)="isPasswordInputFocused = true"
            (blur)="isPasswordInputFocused = false" id="newpassword"  PasswordDirectiveWithValue [newpassword]="password"
                class="border bg-transparent border-base-300 dark:border-gray-700 dark:text-white text-gray-600 rounded w-full py-2 px-3"
                name="cpass" />

                <ng-container *ngIf="password?.invalid && (password?.dirty || password.touched)">
                    <div class="grid grid-cols-3 gap-1 py-1">
                      <span class="bg-base-300 rounded-full h-0.5"
                        [ngClass]="{'bg-yellow-500': !passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen && passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgYellow
                      , 'bg-green-500': passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen,'bg-neutral': passwordValidationDirective.addClassesToShowPassStrengthLine.addClassRed}">
                      </span>
                      <span class="bg-base-300 rounded-full h-0.5"
                        [ngClass]="{'bg-yellow-500': !passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen && passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgYellow , 'bg-green-500':passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen }">
                      </span>
                      <span class="bg-base-300 rounded-full h-0.5"
                        [ngClass]="{'bg-green-500': passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen}">
                      </span>
                    </div>
                    <span class="text-xs text-base-300 table ml-auto"
                      [ngClass]="{'text-yellow-500': !passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen && passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgYellow , 
                    'text-green-500': passwordValidationDirective.addClassesToShowPassStrengthLine.addClassBgGreen,'text-neutral': passwordValidationDirective.addClassesToShowPassStrengthLine.addClassRed}">
                      {{ passwordValidationDirective.getPasswordStrengthText.strength }}
                    </span>
                  </ng-container>
        </div>
        <div class="mb-4 relative">
            <label class="mb-1 block font-semibold text-secondary text-sm dark:text-base-100">{{ "repeatPassword" | translate }}</label>
            <input type="password" formControlName="confirmPassword"
                class="border bg-transparent border-base-300 dark:border-gray-700 dark:text-white text-gray-600 rounded w-full py-2 px-3"
                name="cpass" />
                <em *ngIf="verifyMatch()"
                class="ph-bold ph-check text-green-600 absolute bottom-2 right-2 text-xl"></em>
        </div>
        <button class="btn btn-primary mt-4 text-white px-8" (click)="changePassword()" [disabled]="!verifyCreatePassButton()"
        >{{ "savePassword" | translate }}</button>
    </form>
</div>

<web-messenger-modal *ngIf="showSuccessPopup" [modalId]="'success-modal'"[modalTitle] ="'Success' | translate"
[modalMessage]="showSuccessPopup" [modalCloseText]="'close' | translate" (closePopup)="closePopup()" 
(cancelPopup)="closePopup()"></web-messenger-modal> 