// ==========================================================================
// Reset CSS
// - We don't really need to reset much as there isn't a lot of arbitraty
//   html blocks or markup patterns
// ==========================================================================

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
}

input,
textarea {
    font-family: inherit;
}

input[type=submit],
button {
    appearance: none;
    border-radius: 0;
}
