
<div class="px-6 h-full overflow-y-auto">
    <h2 class="text-secondary text-xl font-medium dark:text-white mb-4">{{ "privacyPolicy" | translate }}</h2>
    <div class="text-base text-gray-600 dark:text-base-100 ">
        <h4 class="font-bold dark:text-white">{{ "intoduction" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "privacyPolicyIntroductionDes1" | translate }}</p>
            <p class="pb-4">{{ "privacyPolicyIntroductionDes2" | translate }}</p>
            <p class="py-2">{{ "privacyPolicyIntroductionDes3" | translate }}</p>
            <p class="pb-4">{{ "privacyPolicyIntroductionDes4" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "informationWeCollect" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "informationWeCollectDes1" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes2" | translate }}</p>
            <p class="py-2">{{ "informationWeCollectDes3" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes4" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes5" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes6" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes7" | translate }}</p>
            <p class="pb-4">{{ "informationWeCollectDes8" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "wayWeUseInformation" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "wayWeUseInformationDes1" | translate }}</p>
            <p class="pb-4">{{ "wayWeUseInformationDes2" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "security" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "securityDes1" | translate }}</p>
            <p class="pb-4">{{ "securityDes2" | translate }}</p>
            <p class="py-2">{{ "securityDes3" | translate }}</p>
            <p class="pb-4">{{ "securityDes4" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "nonUSAResidents" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "nonUSAResidentsDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "californiaPrivacyRights" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "californiaPrivacyRightsDes1" | translate }}</p>
            <p class="pb-4">{{ "californiaPrivacyRightsDes2" | translate }}</p>
            <p class="py-2">{{ "californiaPrivacyRightsDes3" | translate }}</p>
            <p class="pb-4">{{ "californiaPrivacyRightsDes4" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "updateCorrectORDeleteInformation" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "updateCorrectORDeleteInformationDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "childrenUnder13" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "childrenUnder13Des" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "changestoOurPolicy" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "changestoOurPolicyDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "yourConsent" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "yourConsentDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white text-center">{{ "HippaBusinessAssociateAddendum" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "HippaBusinessAssociateAddendumDes1" | translate }}</p>
            <p class="py-2">{{ "HippaBusinessAssociateAddendumDes2" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "Compliance with Law" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "compliancewithLawDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "definitions" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "definitionsDes1" | translate }}</p>
            <p class="py-2">{{ "definitionsDes2" | translate }}</p>
            <p class="py-2">{{ "definitionsDes3" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "BAObligations" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "BAObligationsDes1" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes2" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes3" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes4" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes5" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes6" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes7" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes8" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes9" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes10" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes11" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes12" | translate }}</p>
            <p class="py-2">{{ "BAObligationsDes13" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "PermittedUsesandDisclosures" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes1" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes2" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes3" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes4" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "CoveredEntityObligations" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes1" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes2" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes3" | translate }}</p>
            <p class="py-2">{{ "PermittedUsesandDisclosuresDes4" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "ForCauseTerminationProvisions" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "ForCauseTerminationProvisionsDes" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "ObligationsofBAUponTermination" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "ObligationsofBAUponTerminationDes1" | translate }}</p>
            <p class="py-2">{{ "ObligationsofBAUponTerminationDes2" | translate }}</p>
        </div>
        <h4 class="font-bold dark:text-white">{{ "Miscellaneous" | translate }}</h4>
        <div class="mb-3">
            <p class="py-2">{{ "MiscellaneousDes1" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes2" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes3" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes4" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes5" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes6" | translate }}</p>
            <p class="py-2">{{ "MiscellaneousDes7" | translate }}</p>
        </div>
    </div>
</div>